@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto-Regular.ttf);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

.header__name {
  margin: 5vh 10vw;
  font-size: 2rem;
}

.about {
  margin: 5vh 10vw;
  width: 90vw;
  font-size: 1rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .header__name {
    margin: 5vh 10vw;
    font-size: 4rem;
  }

  .about {
    margin: 5vh 10vw;
    width: 80vw;
    font-size: 2.5rem;
  }
}
